In [1]:
import pandas as pd
d1={
"name":["sai","sub","poo"],
"age":[20,21,22]
}
d2={
"qualified":[True,True,False]
}
df1=pd.DataFrame(d1)
print("DF1:\n",df1)
df2=pd.DataFrame(d2)
print("DF2:\n",df2)
newdf=df1.join(df2)
print("Joining:\n",newdf)

DF1:
   name  age
0  sai   20
1  sub   21
2  poo   22
DF2:
    qualified
0       True
1       True
2      False
Joining:
   name  age  qualified
0  sai   20       True
1  sub   21       True
2  poo   22      False

In [7]:

d1={
"name":["yuvi","rithika","sanjay"],
"age":[15,21,17]
}
d2={
"name":["sai","sub","poo"],
"age":[20,21,22]
}
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)

newdf1=df2.merge(df1,on='age')
print(newdf1)

      name  age
0     yuvi   15
1  rithika   21
2   sanjay   17
  name  age
0  sai   20
1  sub   21
2  poo   22
  name_x  age   name_y
0    sub   21  rithika

In [12]:
df=pd.DataFrame({'team':['A','B','C','D'],'points':[90,56,78,88],'assit':[12,34,23,44],'rebounds':[56,43,55,12]})
print(df)
df=pd.melt(df,id_vars='team',value_vars=['points','assit','rebounds'])
print(df)

  team  points  assit  rebounds
0    A      90     12        56
1    B      56     34        43
2    C      78     23        55
3    D      88     44        12
   team  variable  value
0     A    points     90
1     B    points     56
2     C    points     78
3     D    points     88
4     A     assit     12
5     B     assit     34
6     C     assit     23
7     D     assit     44
8     A  rebounds     56
9     B  rebounds     43
10    C  rebounds     55
11    D  rebounds     12