In [35]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['Sai',"Subu","Divya","Yuvi","Rithi","Sangu"],'B':['one','two','three','one','three','two'],'C':np.random.randint(5,size=6),'D':np.random.randint(5,size=6),'E':np.random.randint(3,size=6)})
print(df)

       A      B  C  D  E
0    Sai    one  0  2  2
1   Subu    two  4  0  1
2  Divya  three  4  1  0
3   Yuvi    one  3  4  2
4  Rithi  three  3  3  2
5  Sangu    two  1  3  0

In [37]:
#Group by multi-column
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['Sai','Poo','Sub','Yuvi','Rithi','Sangu','Sai','Poo'],'B':['one','two','three','one','three','two','one','two'],'C':np.random.randint(5,size=8),'D':np.random.randint(5,size=8)})
print(df)
df1=df.groupby('A',as_index=False)['C'].sum()
print(df1)

       A      B  C  D
0    Sai    one  3  0
1    Poo    two  2  3
2    Sub  three  3  0
3   Yuvi    one  2  3
4  Rithi  three  1  4
5  Sangu    two  2  1
6    Sai    one  2  0
7    Poo    two  1  4
       A  C
0    Poo  3
1  Rithi  1
2    Sai  5
3  Sangu  2
4    Sub  3
5   Yuvi  2

In [39]:
df2=df.groupby(['A','B'],as_index=False)[['C','D']].sum()
print(df2)

       A      B  C  D
0    Poo    two  3  7
1  Rithi  three  1  4
2    Sai    one  5  0
3  Sangu    two  2  1
4    Sub  three  3  0
5   Yuvi    one  2  3

In [41]:
#using groupby() with agg()
import pandas as pd
df=pd.DataFrame({'Category':['A','B','C','A','B','C'],
                    'Sales':[100,200,150,150,130,200],
                    'Profit':[10,15,20,25,30,15]})
print("\n Original DataFrame:\n",df)

 Original DataFrame:
   Category  Sales  Profit
0        A    100      10
1        B    200      15
2        C    150      20
3        A    150      25
4        B    130      30
5        C    200      15

In [43]:
df_grouped=df.groupby('Category').agg({'Sales':['sum','mean'],'Profit':['sum','max']})
print(df_grouped)

         Sales        Profit
           sum   mean    sum max
Category
A          250  125.0     35  25
B          330  165.0     45  30
C          350  175.0     35  20